/* .card-img {
  width: 150px;
} */

.card {
  background: #fff;
  border-radius: 2px;
  border: 7px solid #ECEFF1;
  height: 210px;
  margin: 2.2rem;
  transition: transform .2s;
  position: relative;
  width: 210px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  box-shadow: 0 6px 12px #999, 0 6px 12px #999;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
  padding-top: 20px;
}
.card > .img-container > img {
  width: 60%
}